<h1><img src="https://www.mcgill.ca/cand3/files/cand3/cand3_logo_final_fullname.png" width="150">Introduction to <img src="https://s3.dualstack.us-east-2.amazonaws.com/pythondotorg-assets/media/community/logos/python-logo-only.png" width="30"> <code>Python</code> for social scientific research </h1>
<h3>Instructor: Dr. Tim Elrick, GIC, McGill (<a mailto="tim.elrick@mcgill.ca">tim.elrick@mcgill.ca</a>)</h3>

## Prolog

In the following you find an introduction to working with tabluar data (aka tables, data sets or data frames) in `Python`. As you have been working with `R` for quite a while, this notebook dives into the matter more swiftly than one usually would when starting out learning `Python`.

In this workshop you will learn

- how to work with functions, methods and attributes
- how to load and use modules
- how to import and export data
- how to manipulate tabular data frames
- create and visualize descriptive statistics

For doing so, we draw on the modules [`numpy`](https://numpy.org/doc/stable/user/index.html) (for scientific computing), [`pandas`](https://pandas.pydata.org/docs/user_guide/index.html) (for working with tabluar data) and [`seaborn`](https://seaborn.pydata.org/tutorial.html) (for visualizing data easily).

As `Python` is a more general programming language, this workshop **will not suffice** to provide you with an exhaustive overview or understanding of how `Python` works to properly use it for research in the social sciences.
That said, we will further delve into `Python` in a couple of weeks to learn about how you can apply machine learning in this language using the module [`scikit-learn`](https://scikit-learn.org/stable/user_guide.html).

## 1) Loading libraries
Now, let's load our first libraries, which are called `module` in `Python`.

In [ ]:
# We use canonical naming conventions (aliases) for our modules np, pd and
# sns and the submodule plt

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 2) Loading data
To load tabular data, we can use the different `read_*()` functions that are shipped with the module `pandas`.

> Note, In `Python` functions from modules are called by invoking the name of the module first, followed by `.` (dot) and then the name of the function. These functions are then called `methods`.

In [ ]:
# We load the data from Tim's GitHub repository (you might recall the migration
# data from the R summer camp)
# Data source:
#   Statistics Canada 2017: Estimates of the components of interprovincial
#                             migration, quarterly
#   https://doi.org/10.25318/1710002001-eng

data_csv = pd.read_csv('https://github.com/AGeographer/cand3_2025_python/raw/refs/heads/main/data/migration.csv')

In [ ]:
data_csv

Objects also can have functions/methods. E.g. `head()` allows you to see the first rows of a data set.

In [ ]:
data_csv.head()

In [ ]:
# to load a dta (Stata) data set, use

data_dta = pd.read_stata('https://github.com/AGeographer/cand3_2025_python/raw/refs/heads/main/data/migration.dta')

Now, let's check if both data sets are the same. For doing so we can use the usual `logical operators`:

In [ ]:
data_dta == data_csv


---

### *Exercise 1*

Load the `Excel` data from the repository.

> Expand the solution to check your results.

---

---

#### Solution for exercise 1

For `Excel` data sets, we can (or need) to specify the sheet and if it should skip certain rows.

In [ ]:
data_excel = pd.read_excel('https://github.com/AGeographer/cand3_2025_python/raw/refs/heads/main/data/migration.xlsx')

In [ ]:
data_excel.head()

In [ ]:
data_excel = pd.read_excel('https://github.com/AGeographer/cand3_2025_python/raw/refs/heads/main/data/migration.xlsx',
                           skiprows=1)

# if you want to learn more about a function/method, use ? followed by the function name

?pd.read_excel

In [ ]:
data_excel.head()

---

### Continuing ...

> Note: there are many more `read_*()` functions. You can check these out by typing `pd.`, then wait shortly until the drop-down opens, then you can scroll through all the *`pd` methods*.

## 3) Exploring data

Let's shorten the name of our data set, by using method `.copy()`.

> Note: if we just used `ds=data_csv` it would just created an *alias*, i.e. it would be the same object with a different name. This is a notable difference between `Python` and `R`.

In [ ]:
ds = data_csv.copy()


### 3.1) Getting an overview

Now, we can explore the data set:

In [ ]:
# to get a comprehensive overview over the structure of the data set

ds.info()

In [ ]:
# to get a list of all the columns/variables

ds.columns

In [ ]:
# where there is

ds.head()

# ... there is also

ds.tail(3)

> Note, a `Notebook code cell` is executed in total and only displays the last output (if there is output).

In [ ]:
# if you want to see all output you need to wrap the code in print()

print(ds.head(2))
print(ds.head(2))

In [ ]:
# to get the dimensions of a data set, use

ds.shape

In [ ]:
# to see the different variable types, use

ds.dtypes

In `pandas` the most common *variable types* are:

- `object`: Used for strings (text) or mixed data types within a column.
- `int64`: Represents integers (whole numbers).
- `float64`: Represents floating-point numbers (numbers with decimals).
- `bool`: Represents boolean values (`True` or `False`).
- `datetime64`: Represents dates and times.
- `timedelta[ns]`: Represents the difference between two datetimes.
- `category`: Used for categorical data, which can improve performance and memory usage.

> Note: although, `pandas` are built on `numpy` arrays (i.e. *vectors*) the *variable types* differ between the two modules.

### 3.2) Exploring the data visually

We can use the `seaborn` module to explore the data set visually:

In [ ]:
sns.set_theme()
sns.pairplot(ds)

In [ ]:
# as you see, sns.pairplot() only uses the numerical columns to display the
# plot. You can use a categorical variable/column to colour the plot

sns.pairplot(ds, hue='GEO')

### 3.3) Exploring data with descriptive statistics

In [ ]:
ds.describe()

In [ ]:
# to also include the categorical variables

ds.describe(include='all')

In [ ]:
# to include only a certain variable type

ds.describe(include=['object'])

In [ ]:
# if we are interested in a certain column, we can call it with

ds['GEO']

In [ ]:
# or use the notion that columns in a data set are represented as attributes

ds.GEO

In [ ]:
# to get the unique values of a variable

ds.GEO.unique()

In [ ]:
# to get the count of a variable by unique values
ds.GEO.value_counts()

In [ ]:
# we get relative value by

ds.GEO.value_counts(normalize=True)

`Python` is an *object-oriented* language, i.e. everything acts as an *object*:

In [ ]:
ds.GEO.value_counts(normalize=True).round(2)

In [ ]:
# We can wrap an equation in parentheses and then work with this new object

(ds.GEO.value_counts(normalize=True) * 100).round(2)

In [ ]:
# we can extend this to

(ds.GEO.value_counts(normalize=True) * 100).round(2).plot(kind='bar')

# ... a basic matplotlib (plt) bar plot

In [ ]:
# and, calling the count like this, works as well, of course

ds['GEO'].value_counts(normalize=True)

In [ ]:
# by the way,

ds.GEO.count()

# returns the full number of rows

Single descriptive stats are possible to calculate as well, of course. E.g. we can calcuate the average
with the `mean()` function.

In [ ]:
#let's start with describe() again

ds.describe()

In [ ]:
ds.mean()

# here we will get a TypeError, as the function tries to calculate the mean
# on the wrong (variable) type, i.e. strings

In [ ]:
# so, either, we calculate the mean only on one numeric column

ds.Value.mean().round(2)

---

### *Exercise 2*

Calculate the minimum and the median for the migration value.

> Expand the solution to check your results.

---

---

#### Solution for exercise 2

In [ ]:
ds.Value.min()

In [ ]:
ds['Value'].median()

In [ ]:
# if you want to know which row contains the smallest population, use

ds.nsmallest(n=1, columns='Value')

---

### Continuing ...

In [ ]:
# coming back to how to calculate the mean...
# or we tell the function to only use numeric variables in the data set

ds.mean(numeric_only=True)

### Side-track: How to create a `function`

Due to the big number in variable `population` the `mean()` function decided to output the numbers in *scientific notation*. If you want to override this behaviour, you have to use the `apply()` method together with a *format function*, called `f''`.

Now, there are two ways of defining functions:

1. a `lambda` function on the fly
2. a permanent function

In [ ]:
# a lambda function starts with the word lambda and then the variable you want
# to use, e.g. x:
# lambda x: x * 2
# after the colon you define what the function should do, e.g.

ds.mean(numeric_only=True).apply(lambda x: round(x, 2))

In [ ]:
# now, the numbers are better readable, but not yet ideal
# let's look at f''

f'{10000:,.2f}'

# f'' is a string that contains variables in {}
# you can then format this string, hence f''
# after the variable you add a colon : and then specify e.g. the number format
# ,.2f formats a float to a number with thousand separator and 2 digits

In [ ]:
# now, we can combine

ds.mean(numeric_only=True).apply(lambda x: f'{x:,.1f}')

In [ ]:
# alternatively, we can define a new function permanently, by using

def format_number(x):
    return f'{x:,.3f}'

# you can call the function anything, here we called it format_number()
# note, that after the definition you need to use a colon, and then the next
# line needs to be indented, otherwise the function will not work.

# after defining the function we can use in the apply() method

ds.mean(numeric_only=True).apply(format_number)

In [ ]:
# let's revisit the relative count

# now, let's turn the output in percentages with a lambda function

ds.GEO.value_counts(normalize=True).apply(lambda x: f'{x:.0%}')

Continuing with calculating statistics:

`mean(numeric_only=True)` is not the only way to achieve this.

In [ ]:
# you can also either include certain variable types

ds.select_dtypes(include='number').mean()

In [ ]:
# or exclude them

ds.select_dtypes(exclude='object').mean()

## 4) Subsetting data

In [ ]:
# you can store subsets in a new object

ds15 = ds.tail(15)

In [ ]:
ds15

### Deleting columns

In the method `.drop()` you can specify the columns that you want to delete.

> Note, when you set `inplace=True` it will create a copy right away (equivalent to an *left assignment* in `R`).

In [ ]:
ds.drop(columns=['Vector','Coordinate'], inplace=True)

In [ ]:
# we can check if it was successful

ds

### Renaming columns

Use method `.rename` to rename columns by creating a `dictionary` which is a crucial *data type* in `Python`.

A `dictionary` consists of a *key-value structure*, each entry separated by comma and written like this: `{'key1':'value1', 'key2':'value2'}`.

In [ ]:
a_dictionary = {'fruit': 'apple', 'vegetable': 'carrot'}
a_dictionary

Using this knowledge on `.rename()` for a data set, the `key` is the *old column name* and the `value` is the *new column name*.

In [ ]:
# if you don't use inplace=True you need to assign the code to your data set

ds = ds.rename(columns={'GEO':'Location', 'INT':'Type', 'Value':'Persons'})

In [ ]:
ds

### Subsetting through a condition on row values

Use method `.query('')` to create *logical expressions* to filter rows.

> Note: `inplace=True` works on `.query` as well.

In [ ]:
ds.query('Location != "Canada"')

In [ ]:
# if you want to reset the index of the data set, i.e. the rownames, use

ds = ds.query('Location != "Canada"').reset_index(drop=True)

The method `.loc` allows you to subset to certain ranges of rows and columns by *row numbers* and *variable name(s)*. If the rows have an named `index` then you also can select by those names (not in our case here),

In [ ]:
# we always enter rows, columns
# So, here we want row 1 to 10
# and columns country to lifeExp.

ds.loc[1:10, 'Location':'Persons']

In [ ]:
# Note, Python starts counting at 0. So, the first row is
# row 0.
# If you want to pick only certain columns you have to
# wrap them in a list

ds.loc[0:5, ['Ref_Date', 'Type', 'Persons']]

`Lists` are another crucial *data type* in `Python` and are wrapped in brackets [ ]. The values are separated by commas.

In [ ]:
# here are more lists

['a', 'c', 'f']

In [ ]:
a_list = [1, 4, 8, 2]
a_list

---
### Exercise 3

Select the 10th to 20th row for *location* and *persons*.

> Expand the solution to check your results.

----

### Solution for exercise 3

In [ ]:
ds.loc[9:19, ['Location', 'Persons']]

---

### Continuing ...

In [ ]:
# to select a full column you can either use the attribute

ds.Location

In [ ]:
# use the column name

ds['Location']

In [ ]:
# use the column name in a one-element list

ds[['Location']]

In [ ]:
# use the .loc method with all rows using :

ds.loc[:, 'Location']

To subset your data set only by position you use method `.iloc`.

In [ ]:
ds.iloc[0:5, 0:3]

In [ ]:
# you can also use negative indices to select from the bottom
# for rows or from right for columns.
# Note, : select all either rows or columns

ds.iloc[:, -2:]

### 5) Manipulating data

Now, we want to change values in our columns.

We want to change values for `Persons` into *negative values* for those rows where `Type` is *Out-migrants*. For doing so, we use method `loc` with adding a condition for the *rows*.

In [ ]:
ds.loc[ds['Type'] == 'Out-migrants', 'Persons'] = -ds['Persons']

In [ ]:
# we can use describe() to see if it has worked

ds.describe()

In [ ]:
# alternatively, we could have used method np.where() like this:

# first create a fresh copy of the data set (as we cannot change the same
# values twice)
ds2 = data_csv.copy()
# rename the columns as we have done above
ds2.rename(columns={'Value':'Persons', 'INT':'Type'}, inplace=True)

# now this is the line where we actually apply the alternative code
# np.where(condition, true_value, false_value)
ds2['Persons'] = np.where(ds2['Type'] == 'Out-migrants', -ds2['Persons'], ds2['Persons'])

# let's check the outcome
ds2.describe()

#### Splitting a column/variable

Now, we finally want to treat the remaining column `Ref_Date` as it conflates `Year` and `Quarter`.

For doing so, we first need to understand *tuples*. A `tuple` is an object that contains *immutable* elements.

In [ ]:
# you can construct them using parentheses ()

('a', 'b', 'c')

In [ ]:
# or not

1, 2

We can use `tuples` to assign multiple values in one go. This is called `tuple unpacking` or `multiple assignment`.

In [ ]:
x, y = 3, 4

In [ ]:
print(x)
print(y)

When we combine tuple unpacking with the `.split()` method, we can achieve our the GeoAnalytics Lab. `.split()` separates a *string* into pieces using the provided separator:

In [ ]:
# here our separator is a space

'two words'.split(' ')

In [ ]:
# as our Ref_Date variable is a string, we can call str for string methods
# and then use the / that separates the year from quarter
ds.Ref_Date.str.split('/')

In [ ]:
# when we now use parameter expand=True it will create sets of two

ds.Ref_Date.str.split('/', expand=True)

In [ ]:
# now, let's apply our knowledge of sets to our use case.
# note, on the left hand side you need to feed in a list, hence []
ds[['Year', 'Quarter']] = ds.Ref_Date.str.split('/', expand=True)

In [ ]:
# you see, that we have created two new columns, bu the old one is still there

ds

In [ ]:
# we can, of course, delete it now

ds.drop(columns='Ref_Date', inplace=True)

---

#### Exercise 4

Select rows for the 2000s years for Quebec only.

*Hint: you need to change the variable type with `.astype()`*

> To check your result you can expand the solution.

---

#### Solution for exercise 4

In [ ]:
ds.Year = ds.Year.astype(int)
ds.query('Location == "Quebec" & Year > 2000')

---

#### Exercise 5

The quarters currently represent months (March, June, September, December). Turn them into quarters 1 to 4 by dividing them by 3.

> To check your result expand the solution section.

---

#### Solution for exercise 5

In [ ]:
ds.Quarter = (ds.Quarter.astype(int) / 3).astype(int)

In [ ]:
# let's check the result

ds

---

#### Continuing ...

### 6) Grouped summaries

The `groupby()` method helps to get grouped summaries:

In [ ]:
# we group the data set ds by Location, then
# calculate the mean on Persons column

ds.groupby('Location').Persons.mean().round(0)

In [ ]:
# we can group by more than one variable putting the
# column names in a list
# note, here we then use sum()

ds.groupby(['Location', 'Year']).Persons.sum()

By applying the `unstack()` method on the grouped summary, we can create a pivot table.

In [ ]:
grouped_summary = ds.groupby(['Location', 'Year']).Persons.sum()

grouped_summary.unstack()

In [ ]:
# can easily create a line graph from this pivot table using

sns.lineplot(grouped_summary.unstack().T)

# note, with .T we can transpose the table (i.e. flip x and y axis)

In [ ]:
# to rectify the overlap in legend and axis, we need to add a bit of
# matplotlib code

sns.lineplot(grouped_summary.unstack().T)

# this moves the graph to the upper left corner relative to the legend
plt.legend(loc='upper left', bbox_to_anchor=(1, 1))

# now we get the x axis labels ...
labels = plt.gca().get_xticklabels()
# make them invisible ...
plt.setp(labels, visible = False)
# and only show every 10th label
plt.setp(labels[::10], visible = True)

### 7) Work with your file on your Google Drive

You first need to `mount` your drive. For doing so, we need the module `os` and submodule `drive` from `google.colab`.

In [ ]:
# os helps you to work with operating system related tasks

import os

In [ ]:
# getcwd() shows you the current working directory

os.getcwd()

In [ ]:
# now, we mount our drive. You will be asked to confirm.

from google.colab import drive
drive.mount('/content/drive/')

In [ ]:
# Change the working directory to whichever folder you want to work with
# I chose 'Colab Notebooks/CAnD3' on my Google Drive
os.chdir('/content/drive/My Drive/Colab Notebooks/CAnD3')

# Verify the current working directory
os.getcwd()

In [ ]:
# to see the content of your directory, use

os.listdir(os.getcwd())

#### Saving your data in a file

There are lots of `to_*()` methods to export your data to different files.

In [ ]:
ds.to_csv('my_data.csv')
ds.to_excel('my_data.xlsx', index=False)

### 8) Extras

#### How to read/write SPSS files

Unfortunately, there seems to be a problem with the `pandas` reader/writer to/from SPSS. Hence, we have to install `pyreadstat` and import it to use its functions.

In [ ]:
# by using !pip we call the install command in the terminal of the Notebook to
# install the missing library from the internet

!pip install pyreadstat

In [ ]:
# now we have to import the library into our Notebook

import pyreadstat

In [ ]:
# finally, we can use read_sav()
# Note, I assume you had copied the file into your Google Drive

data_sav = pyreadstat.read_sav('migration.sav')

# or source it from the repo
#data_sav = pyreadstat.read_sav('https://github.com/AGeographer/cand3_2025_python/raw/refs/heads/main/data/migration.sav')

In [ ]:
# so, what have we downloaded? Check the type:

type(data_sav)

In [ ]:
# in the first element we find our data set

data_sav[0]

In [ ]:
# let's check if this is a panda data frame

# isinstance(data_sav[0], pd.DataFrame)

In [ ]:
# now, let's re-assign it, so that we can use the data set properly

data_sav = data_sav[0]
data_sav

#### Select columns with conditions

You can use method `.filter()` to select columns.

In [ ]:
# feed in a list of variables
# you can use this to also sort the columns

ds.filter(['Year', 'Location'])

In [ ]:
# like= can be use to look for strings that are contained in the
# column names, like 'er' here

ds.filter(like='er')

In [ ]:
# or you can use regular expressions
# here all columns that end with 'e'

ds.filter(regex='r$')

#### Some more visualizations

In [ ]:
sns.set_theme(style='whitegrid')
sns.violinplot(data=ds.query("Location in ['Ontario', 'Quebec']"),
               y='Location', x='Persons',
               hue = 'Quarter',
               palette='Set1')

In [ ]:
sns.barplot(data=ds.query("Year > 2000"),
            y = 'Location', x = 'Persons',
            hue = 'Quarter',
            dodge=False,
            palette='colorblind',
            errorbar=None)